<div class="page-header">
  <% if can? :create, @hotnews %>
   <div class="button-right"><a href="hotnews/new" class="btn btn" id="button-create"><i class="icon-white icon-plus-sign"></i> สร้างข่าวด่วน</a> </div>
  <% end %>
  <div class="alert alert-info header">
  <h1>ข่าวด่วน<small></small></h1>
  </div>
</div>
<table class="display" id="dataTable-hotnews">
  <thead>
  <tr>
    <th>รหัส</th>
    <th>หัวข้อข่าว</th>
    <th>ไฟล์ข่าว</th>
    <th></th>
  </tr>
  </thead>
    <tbody>
  <% @hotnews.each do |hotnews| %>
    <tr>
      <td><%= hotnews.id %></td>
      <td><%= link_to hotnews.title,hotnews_path(hotnews) %></td>
      <td  width = "18%">
      <% unless hotnews.attachfile_hotnews.empty? %>
            <% hotnews.attachfile_hotnews.each do |attach| %>
            <% if attach.file_hotnews_content_type.split("/").first == "image" %>
              <%= link_to image_tag(attach.file_hotnews.url, :height => '30', :width => '30'),attach.file_hotnews.url, :class => "colorbox", :title => "#{attach.file_hotnews_file_name}" , :rel => "tooltip"%>&nbsp;
              <% elsif attach.file_hotnews_content_type.split("/").first == "video"%>
              <a href="<%= attach.file_hotnews.url %>" rel="tooltip" title="<%= attach.file_hotnews_file_name %>"><%= image_tag('file-video.png', :height => '30', :width => '30')%></a>&nbsp;
              <% else %>
              <a href="<%= attach.file_hotnews.url %>" rel="tooltip" title="<%= attach.file_hotnews_file_name %>"><%= image_tag('pdf-icon.png', :height => '30', :width => '30')%></a>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
      </td>
      <td><a href="/hotnews/<%= hotnews.id %>">แสดง</a>
      <a href="<%= edit_hotnews_path(hotnews) %>">แก้ไข</a>
       <a href="/hotnews/<%= hotnews.id %>" data-confirm="ยืนยันหรือไม่ ?" data-method="delete"  alt="Delete">ลบ</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />