<div class="page-header">
  <h1>ข้อมูลส่วนตัว</h1>
</div>
<div class="bg-organ">
<blockquote><p>ชื่อ : <%= @user.fullname %></p></blockquote>
<blockquote><p>อีเมล์ : <%= @user.email %></p></blockquote>
<blockquote><p>สถานะ : <% if @user.admin == true %> ผู้ดูแลระบบ <% else %> สมาชิกทั่วไป <% end %></p></blockquote>
<blockquote><p>ล็อกอินครั้งสุดท้ายเมื่อ : <% if @user.last_login.present? %><%= I18n.l(@user.last_login, format: :long)%><% else %> -<% end %></p></blockquote>
<blockquote><p>ล็อกเอาต์ครั้งสุดท้ายเมื่อ : <% if @user.last_logout.present? %><%= I18n.l(@user.last_logout, format: :long) %><% else %> -<% end %></p></blockquote>
</div>
<div class="form-actions bottom">
<%= link_to 'แก้ไข', edit_user_path(@user) %> |
<%= link_to 'กลับ', users_path %>
</div>
