<div class="page-header">
  <% if can? :create, @news %>
   <div class="button-right"><a href="news/new" class="btn btn" id="button-create"><i class="icon-white icon-plus-sign"></i> สร้างข่าว</a> </div>
  <% end %>
  <div class="alert alert-info header">
  <h1>ข่าวทั่วไป<small></small></h1>
  </div>
</div>
<table class="display" id="datatables-news">
  <thead>
  <tr>
    <th>หัวข้อข่าว</th>
    <th>รายละเอียด</th>
    <th>จังหวัด</th>
    <th>ไฟล์ข่าว</th>
    <th><i class="icon-tags"></i> Tag</th>
    <th>วันที่สร้าง</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @news.each do |news| %>
  <tr>
    <td><%= link_to truncate(news.title, :length => 30),news_path(news) %></td>
    <td><%= truncate(news.detail, :length => 40 )%></td>
    <td><%= news.province %></td>
    <td  width = "15%"><% unless news.attachfiles.empty? %>
            <% news.attachfiles.each do |attach| %>
            <% if attach.file_content_type.split("/").first == "image" %>
              <%= link_to image_tag(attach.file.url, :height => '30', :width => '30'),attach.file.url, :class => "colorbox", :title => "#{attach.file_file_name}" , :rel => "tooltip" %>&nbsp;
            <% else %>
            <%= link_to image_tag('pdf-icon.png', :height => '30', :width => '30'),attach.file.url %>
            <% end %>
            <% end %>
          <% else %>
          <% end %>
    </td>
    <td>
  <%= raw news.tag_list.split(',').map {|t| link_to t,tags_tag_name_path(:name => t) }.join(', ')%>
    </td>
    <td  width = "12%"><%= I18n.l(news.created_at, format: :long) %></td>
    <td><a href="/news/<%= news.id %>">แสดง</a>
      <a href="<%= edit_news_path(news) %>" >แก้ไข</a>
       <a href="/news/<%= news.id %>" data-confirm="ยืนยันหรือไม่ ?" data-method="delete" alt="Delete">ลบ</a></td>
  </tr>
<% end %>
</tbody>
</table>

<br />


