<div class="page-header">
  <h1>รายละเอียดข่าว</h1>
</div>
<div class="bg-organ">
<blockquote><p>หัวข้อข่าว : <%= @news.title %></p></blockquote>
<blockquote><p>รายละเอียด : <%= @news.detail %></p></blockquote>
<blockquote><p>จังหวัด : <%= @news.province %></p></blockquote>
<blockquote><p>Tag : <i class="icon-tags"></i> 
  <%= raw @news.tag_list.split(',').map {|t| link_to t,tags_tag_name_path(:name => t) }.join(', ')%>
    </p></blockquote>
<!-- <blockquote><p>สร้างเมื่อ : <%= time_ago_in_words(@news.created_at) %></p></blockquote>
<blockquote><p>แก้ไขเมื่อ : <%= time_ago_in_words(@news.updated_at) %></p></blockquote> -->
<blockquote><p>ไฟล์ข่าว :<% unless @news.attachfiles.empty? %>
            <% @news.attachfiles.each do |attach| %>
            <% if attach.file_content_type.split("/").first == "image" %>
              <%= link_to image_tag(attach.file.url, :height => '50', :width => '50'),attach.file.url, :class => "colorbox", :title => "#{attach.file_file_name}" , :rel => "tooltip" %>&nbsp;
              <% else %>
              <%= link_to image_tag('pdf-icon.png', :height => '50', :width => '50'),attach.file.url %>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
</p></blockquote>
<blockquote><p>วันเวลาที่สร้าง : <%= I18n.l(@news.created_at, format: :long) %></p></blockquote>
</div>
<div class="form-actions bottom">
<%= link_to 'แก้ไข', edit_news_path(@news) %> |
<%= link_to 'กลับ', news_index_path %>
</div>

<div class="page-header">
  <h1>ตรวจสอบการอ่าน <!-- <small>who read or unread</small> --></h1>
</div>
<div class="row">
<div class="span5">
<table class="display" id="datatables-checkreads">
  <thead>
  <tr>
    <th>อ่านแล้ว</th>
  </tr>
  </thead>
    <tbody>
      <% @reads.each do |read| %>
    <tr>
      <td><%= read.user.fullname %></td>
    </tr>
    <% end %>
  </tbody>
<!--   <tfoot>
    <tr>
      <th><input type="text" name="search_read" value="Search read" class="search_init" id="search-custom"/></th>
    </tr>
  </tfoot> -->
</table>
</div>
<div class="span5">
<table class="display" id="datatables-checkunreads">
  <thead>
  <tr>
    <th>ยังไม่อ่าน</th>
  </tr>
  </thead>
    <tbody>
      <% @unreads.each do |unread| %>
    <tr>
      <td><%= unread.fullname %></td>
    </tr>
    <% end %>
  </tbody>
<!--   <tfoot>
    <tr>
     <th><input type="text" name="search_unread" value="Search unread" class="search_unread" id="search-custom"/></th>
    </tr>
  </tfoot> -->
</table>
</div>
</div>
<br>
