<h1>Listing hotnews_reads</h1>

<table>
  <tr>
    <th>Hotnews</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hotnews_reads.each do |hotnews_read| %>
  <tr>
    <td><%= hotnews_read.hotnews %></td>
    <td><%= hotnews_read.user %></td>
    <td><%= link_to 'Show', hotnews_read %></td>
    <td><%= link_to 'Edit', edit_hotnews_read_path(hotnews_read) %></td>
    <td><%= link_to 'Destroy', hotnews_read, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hotnews read', new_hotnews_read_path %>
