<div class="page-header">
  <div class="alert alert-info header">
  <h1><%= params[:name] %><small></small></h1>
  </div>
</div>
<table class="display" id="tagging">
  <thead>
  <tr>
    <th>Title</th>
    <th>Detail</th>
    <th>Province</th>
    <th>File</th>
    <th>Created_at</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>

<% @news.each do |news| %>
  <tr>
    <td><%= link_to truncate(news.title, :length => 30),news_path(news) %></td>
    <td><%= truncate(news.detail, :length => 60 )%></td>
    <td><%= news.province %></td>
    <td  width = "18%"><% unless news.attachfiles.empty? %>
            <% news.attachfiles.each do |attach| %>
            <% if attach.file_content_type.split("/").first == "image" %>
              <%= link_to image_tag(attach.file.url, :height => '30', :width => '30'),attach.file.url, :class => "colorbox", :title => "#{attach.file_file_name}" %>&nbsp;
            <% else %>
            <%= link_to image_tag('pdf-icon.png', :height => '30', :width => '30'),attach.file.url %>
            <% end %>
            <% end %>
          <% else %>
          <% end %>
    </td>
   <td  width = "8%"><%= news.created_at.strftime("%d/%m/%Y") %></td>
    <td><a href="/news/<%= news.id %>">แสดง</a>
      <a href="<%= edit_news_path(news) %>" >แก้ไข</a>
       <a href="/news/<%= news.id %>" data-confirm="Are you sure?" data-method="delete" alt="Delete">ลบ</a></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
