<!DOCTYPE html>
<html>
<head>
  <title>สำนักงานข่าวกรองแห่งชาติ</title>
  <%= stylesheet_link_tag "application","http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" ,:media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="wraper-contrainer">

	<div class="container">
	    <div class="row">
      <div class="span2">
      <div class="system">
        <% if signed_in? %>
        <div class="login_btn_v1"><span class="welcome1">ยินดีต้อนรับ</span> : <%= current_user.fullname %><br>
        <div class="setting">
        <a href="<%= edit_user_path(current_user) %>" class="btn btn-small login">ตั้งค่า</a>
        <a href="<%= signout_path %>" class="btn btn-small login">ออกจากระบบ</a>
        </div>
        </div>
        <% else %>
        <div class="login_btn"><i class="icon-lock"></i> เข้าสู่ระบบ<br>
        <a href="<%= signin_path%>" class="btn btn-small login">Login</a>
        </div>
        <% end %>
      </div>
    <div id="menu">
    <ul>
    <li><a href="<%= root_path %>">หน้าแรก</a></li>
    <li><a href="<%= hotnews_index_path %>">ข่าวด่วน</a></li>
    <li><a href="<%= news_index_path %>">ข่าวทั่วไป</a></li>
    <li><a href="<%= users_path %>">สมาขิก</a></li>
    <li><a href="<%= organizations_path%>">ข้อมูลทั่วไป</a></li>
<!--     <li><a href="#">อื่นๆ</a></li> -->
    </ul>
    </div>
      </div>
      <div class="span10">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" style="width:93.8%;margin-top:-7px;"><%= value %></div>
        <% end %>
          <%= yield %>
      </div>
    </div>
	</div>
</di>
<footer class="container footer">
<span class="footer">&copy; Code App 2012</span>
</footer>

</body>
</html>
